.infoDescripcion {
    padding-top: 2em;
    background-color: dimgray;
    width: 100%;
    height: auto;
}

    .infoDescripcion h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 4em;
    }

    .infoDescripcion hr {
        margin: 2em auto;
        width: 15%;
        color: white;
    }

    .infoDescripcion p {
        text-align: center;
        margin: 2em auto;
        padding-bottom: 4.75em;
        font-size: 1.5em;
        width: 34%;
        color: whitesmoke;
        font-family: 'Courier New', Courier, monospace;
    }

.infoRedesSociales {
    width: 90%;
    height: auto;
    margin: -2% auto;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, auto);
}

    .infoRedesSociales h2 {
        padding-top: 1em;
        font-size: 2em;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    .infoRedesSociales p {
        font-size: 1.2em;
        padding-top: 1em;
        color: whitesmoke;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    .infoRedesSociales img {
        padding-top: 1em;
        width: 29%;
        height: auto;
        margin: 0 auto 1em 0;
    }

#correo {
  background-color: rgba(138, 38, 38, 0.92);
  grid-column-start: 1;
}

#facebook {
  background-color: rgba(63, 56, 231, 0.92);
  grid-column-start: 2;
}

#whatsapp {
  background-color: rgba(116, 168, 30, 0.92);
  grid-column-start: 5;
}

#linkedIn {
  background-color: rgba(30, 36, 134, 0.92);
  grid-column-start: 4;
}

#instagram {
  background-color: rgba(176, 29, 75, 0.92);
  grid-column-start: 3;
}