/**
 * footer.css tiene los estilos del archivo "footer.js".
 * */

.footer {
    width: 100%;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
}

#logo {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0 auto;
    padding: 1em 0 1em 0;
}

#logo img {
    width: 7%;
    height: auto;
}

#volverArriba {
    padding-bottom: 1em;
    width: 6%;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#volverArriba {
    padding-bottom: 1em;
    width: 7%;
    margin: 0 auto;
}

#hr1 {
    width: 40em;
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 0 auto;
}

#copyright {
    padding-bottom: 1em;
    width: 100%;
    font-size: 0.9em;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 4;
}