/**
 * galery.css tiene los estilos del archivo "galery.js".
 * */

.galery {
    width: 100%;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    margin: 0 auto;
}

    .galery img {
        width: 100%;
        height: 46.5em;
    }

    .galery button {
        width: 107%;
        height: auto;
    }