.portada {
    width: 100%;
    height: auto;
    background-image: url('../img/portadaIni.jpeg');
    background-size: cover;
    background-position: center;
}

    .portada h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgba(255, 255, 255, 0.95);
        font-size: 5em;
    }

    .portada img {
        width: 28%;
        height: auto;
        padding: 2em 0 2em 0;
    }

.bienvenida {
    margin: 1.5% 0 1.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
}

    .bienvenida h1 {
        font-size: 3.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .bienvenida hr {
        height: 9em;
    }

    .bienvenida p {
        width: 50%;
        text-align: justify;
        font-size: 1.4em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.frase {
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5% 0 1.5% 0;
}

    .frase p {
        font-size: 2.5em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

.qSomos {
    margin: 1.5% 0 1.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
}

    .qSomos h1 {
        font-size: 2.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .qSomos hr {
        height: 9em;
    }

    .qSomos p {
        width: 50%;
        text-align: justify;
        font-size: 1.4em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.directora {
    width: 100%;
    height: auto;
    padding: 5% 0 5% 0;
    background-image: url('../img/directora.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nombreCargo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.2em;
    margin: 0 0 0 10%;
}

    #nombreCargo h1 {
        font-size: 3em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(255, 255, 255, 0.95);
    }

    #nombreCargo h2 {
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(255, 255, 255, 0.8);
    }

#descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
}

    #descripcion p {
        background-color: whitesmoke;
        text-align: center;
        font-size: 1.4em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 0.2em;
    }

.misvisval {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}

    .misvisval h1 {
        text-align: center;
        font-size: 2.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .misvisval p {
        text-align: center;
        font-size: 1.4em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .misvisval img {
        width: 30%;
        margin: 0 auto;
    }

#mision {
    padding-top: 2em;
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0 auto;
}

#vision {
    padding-top: 2em;
    grid-column-start: 3;
    grid-row-start: 1;
    margin: 0 auto;
}

#linea1 {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 10em;
    margin: 0 auto;
    padding: 5em 0 5em 0;
    transform: rotate(135deg);
}

#linea2 {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 10em;
    margin: 0 auto;
    padding: 5em 0 5em 0;
    transform: rotate(45deg);
}

#linea3 {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 10em;
    margin: 0 auto;
    padding: 5em 0 5em 0;
}

#linea4 {
    grid-column-start: 3;
    grid-row-start: 2;
    width: 10em;
    margin: 0 auto;
    padding: 5em 0 5em 0;

}

#valores {
    grid-column: span 3;
    grid-row-start: 3;
    margin: 0 auto;
}

#sabiduria {
    padding-top: 1em;
    text-align: center;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    #sabiduria span {
        margin-left: -0.3em;
    }

#respeto {
    padding-top: 4.5em;
    text-align: center;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#honor {
    text-align: center;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#lealtad {
    padding-top: 1em;
    text-align: center;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#solidaridad {
    padding-top: 4.5em;
    text-align: center;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#videoIntroductorio {
    width: 100%;
    height: auto;
    background-color: darkslategrey;
    display: inline-block;
    padding: 1% 0 1% 0;
    margin: 1.5% 0 0 0;
}

    #videoIntroductorio h1 {
        margin-bottom: 1%;
        font-size: 2.5em;
        color: white;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

#videoAEI {
    margin: 0 auto;
}