/**
 * navbar.css tiene los estilos del archivo "navbar.js".
 * */

.topNav {
    overflow: scroll;
    clear: both;
    background-color: black;
    width: 100%;
    height: auto;
}

    .topNav img {
        float: left;
        margin-left: 3em;
        height: 6em;
    }

    .topNav Button {
        height: 4.4vH;
        letter-spacing: 1px;
    }

    .topNav a {
        float: right;
        margin: 1% 5% 0 -4.99%;
    }